@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:500&display=swap');

.App {
  background-color: #2B2B2B;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.Mobile-container {
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.App-link {
  color: #09d3ac;
}

.btn {
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  width: 150px;
  height: 15px;
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #53AEBA;
}

.btn:hover {
  background-color: #2B2B2B;
}