.App {
  text-align: center;
  background-color: #DAEDEF;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 15vmin;
}

/* .App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
} */

.Mobile-container {
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.App-link {
  color: #09d3ac;
}
