.StartPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  color: #2B2B2B;
}

.StartPage-logo-wrap {
  /* border: 1px solid #53AEBA; */
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.StartPage-logo {
  width: 197px;
  height: 105px;
}

.StartPage-content {
  /* border: 1px solid #53AEBA; */
  text-align: center;
}

.StartPage-content p {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 20px;
}

.StartPage-btn-wrap {
  /* border: 1px solid #53AEBA; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}